########################################################################################################
############################## -- Machine Learning for Data Science --##################################
########################################################################################################

Autor: Luis Gerardo Lucas Morales

Fecha:22-10-2020

# Guia de Modelamiento

## Librerias

In [1]:
#Importar las librerías necesarias en Python.
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np 
from scipy import stats 
import pandas as pd 
import seaborn as sns 
import matplotlib as plt

In [2]:
# Leer el dataset en un dataframe usando pandas
train = pd.read_csv("data/train.csv",sep=';')

In [3]:
#Leer los primeros registros.
sns.set(style='darkgrid')
train.head(10) # Puedes visualizar la cantidad de registro que requieras

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
5,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,no
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,may,217,1,-1,0,unknown,no
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,no
8,58,retired,married,primary,no,121,yes,no,unknown,5,may,50,1,-1,0,unknown,no
9,43,technician,single,secondary,no,593,yes,no,unknown,5,may,55,1,-1,0,unknown,no

## EDO

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [5]:
# Viendo las variables por tipo de datos
tipos = train.columns.to_series().groupby(train.dtypes).groups
tipos

{dtype('int64'): Index(['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous'], dtype='object'),
 dtype('O'): Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
        'month', 'poutcome', 'y'],
       dtype='object')}

### Valores perdidos Missing

In [12]:
# Revisar los valores perdidos
#Creamos una función:
def num_missing(x):
  return sum(x.isnull())

#Aplicamos por columna:
print ("Valores perdidos por columna")
print (train.apply(num_missing, axis=0))

Valores perdidos por columna
age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [15]:
to_keep_columns=['age', 'balance', 'day', 'duration', 'campaign', 
                 'pdays', 'previous','job', 'marital', 'education',
                 'default', 'housing', 'loan', 'contact','month', 'poutcome', 'y']

In [16]:
num_columns = ['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous']

## Cofidificar valores categoricos

 https://pbpython.com/categorical-encoding.html

In [25]:
obj_train = train.select_dtypes(include=['object']).copy()
obj_train.head()

,job,marital,education,default,housing,loan,contact,month,poutcome,y
0,management,married,tertiary,no,yes,no,unknown,may,unknown,no
1,technician,single,secondary,no,yes,no,unknown,may,unknown,no
2,entrepreneur,married,secondary,no,yes,yes,unknown,may,unknown,no
3,blue-collar,married,unknown,no,yes,no,unknown,may,unknown,no
4,unknown,single,unknown,no,no,no,unknown,may,unknown,no

In [26]:
## verificar si hay valores nulos
obj_train[obj_train.isnull().any(axis=1)]

Empty DataFrame
Columns: [job, marital, education, default, housing, loan, contact, month, poutcome, y]
Index: []

### Enfoque1 buscar y reemplzar.

In [28]:
obj_train["education"].value_counts()

secondary    23202
tertiary     13301
primary       6851
unknown       1857
Name: education, dtype: int64

In [29]:
clean_num={'marital':{'married':1,'single':2,'divorced':3},
           
          'education':{'unknown':1,'primary':2,'tertiary':3,'secondary':4}}

In [30]:
obj_train.replace(clean_num,inplace=True)
obj_train.head(5)

,job,marital,education,default,housing,loan,contact,month,poutcome,y
0,management,1,3,no,yes,no,unknown,may,unknown,no
1,technician,2,4,no,yes,no,unknown,may,unknown,no
2,entrepreneur,1,4,no,yes,yes,unknown,may,unknown,no
3,blue-collar,1,1,no,yes,no,unknown,may,unknown,no
4,unknown,2,1,no,no,no,unknown,may,unknown,no

In [31]:
obj_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   job        45211 non-null  object
 1   marital    45211 non-null  int64
 2   education  45211 non-null  int64
 3   default    45211 non-null  object
 4   housing    45211 non-null  object
 5   loan       45211 non-null  object
 6   contact    45211 non-null  object
 7   month      45211 non-null  object
 8   poutcome   45211 non-null  object
 9   y          45211 non-null  object
dtypes: int64(2), object(8)
memory usage: 3.4+ MB

### Codificacion de Etiquetas

In [32]:
obj_train['job']=obj_train['job'].astype('category')
obj_train.dtypes

job          category
marital         int64
education       int64
default        object
housing        object
loan           object
contact        object
month          object
poutcome       object
y              object
dtype: object

In [33]:
obj_train["job_cat"] = obj_train["job"].cat.codes
obj_train.head()

,job,marital,education,default,housing,loan,contact,month,poutcome,y,job_cat
0,management,1,3,no,yes,no,unknown,may,unknown,no,4
1,technician,2,4,no,yes,no,unknown,may,unknown,no,9
2,entrepreneur,1,4,no,yes,yes,unknown,may,unknown,no,2
3,blue-collar,1,1,no,yes,no,unknown,may,unknown,no,1
4,unknown,2,1,no,no,no,unknown,may,unknown,no,11

### One Hot Encoding

In [35]:
pd.get_dummies(obj_train, columns=["loan"]).head()

,job,marital,education,default,housing,contact,month,poutcome,y,job_cat,loan_no,loan_yes
0,management,1,3,no,yes,unknown,may,unknown,no,4,1,0
1,technician,2,4,no,yes,unknown,may,unknown,no,9,1,0
2,entrepreneur,1,4,no,yes,unknown,may,unknown,no,2,0,1
3,blue-collar,1,1,no,yes,unknown,may,unknown,no,1,1,0
4,unknown,2,1,no,no,unknown,may,unknown,no,11,1,0

Esta función es poderosa porque puede pasar tantas columnas de categoría como desee y elegir cómo etiquetar las columnas usando prefix . Un nombre adecuado facilitará un poco el resto del análisis.

In [38]:
pd.get_dummies(obj_train, columns=["job", "housing"], prefix=["empleo", "housi"]).head()

,marital,education,default,loan,contact,month,poutcome,y,job_cat,empleo_admin.,...,empleo_management,empleo_retired,empleo_self-employed,empleo_services,empleo_student,empleo_technician,empleo_unemployed,empleo_unknown,housi_no,housi_yes
0,1,3,no,no,unknown,may,unknown,no,4,0,...,1,0,0,0,0,0,0,0,0,1
1,2,4,no,no,unknown,may,unknown,no,9,0,...,0,0,0,0,0,1,0,0,0,1
2,1,4,no,yes,unknown,may,unknown,no,2,0,...,0,0,0,0,0,0,0,0,0,1
3,1,1,no,no,unknown,may,unknown,no,1,0,...,0,0,0,0,0,0,0,0,0,1
4,2,1,no,no,unknown,may,unknown,no,11,0,...,0,0,0,0,0,0,0,1,1,0

In [39]:
obj_train.head(5)

,job,marital,education,default,housing,loan,contact,month,poutcome,y,job_cat
0,management,1,3,no,yes,no,unknown,may,unknown,no,4
1,technician,2,4,no,yes,no,unknown,may,unknown,no,9
2,entrepreneur,1,4,no,yes,yes,unknown,may,unknown,no,2
3,blue-collar,1,1,no,yes,no,unknown,may,unknown,no,1
4,unknown,2,1,no,no,no,unknown,may,unknown,no,11

### Codificacion binaria personalizada

<img src="data/numpywhere.png" width="450" height="150" >

In [47]:
obj_train["job"].value_counts()

blue-collar      9732
management       9458
technician       7597
admin.           5171
services         4154
retired          2264
self-employed    1579
entrepreneur     1487
unemployed       1303
housemaid        1240
student           938
unknown           288
Name: job, dtype: int64

In [43]:
obj_train["management_Code"] = np.where(obj_train["job"].str.contains("management"), 1,0)

In [44]:
obj_train.head(5)

,job,marital,education,default,housing,loan,contact,month,poutcome,y,job_cat,management_Code
0,management,1,3,no,yes,no,unknown,may,unknown,no,4,1
1,technician,2,4,no,yes,no,unknown,may,unknown,no,9,0
2,entrepreneur,1,4,no,yes,yes,unknown,may,unknown,no,2,0
3,blue-collar,1,1,no,yes,no,unknown,may,unknown,no,1,0
4,unknown,2,1,no,no,no,unknown,may,unknown,no,11,0

### Scikit-Learn

In [51]:
obj_train["poutcome"].value_counts()

unknown    36959
failure     4901
other       1840
success     1511
Name: poutcome, dtype: int64

In [54]:
from sklearn.preprocessing import LabelEncoder

lb_make = LabelEncoder()
obj_train["job_code"] = lb_make.fit_transform(obj_train["job"])
obj_train.head(5)

,job,marital,education,default,housing,loan,contact,month,poutcome,y,job_cat,management_Code,poutcome_code,job_code
0,management,1,3,no,yes,no,unknown,may,unknown,no,4,1,3,4
1,technician,2,4,no,yes,no,unknown,may,unknown,no,9,0,3,9
2,entrepreneur,1,4,no,yes,yes,unknown,may,unknown,no,2,0,3,2
3,blue-collar,1,1,no,yes,no,unknown,may,unknown,no,1,0,3,1
4,unknown,2,1,no,no,no,unknown,may,unknown,no,11,0,3,11

In [56]:
obj_train[["job", "job_code"]].head(20)

             job  job_code
0     management         4
1     technician         9
2   entrepreneur         2
3    blue-collar         1
4        unknown        11
5     management         4
6     management         4
7   entrepreneur         2
8        retired         5
9     technician         9
10        admin.         0
11        admin.         0
12    technician         9
13    technician         9
14      services         7
15       retired         5
16        admin.         0
17   blue-collar         1
18       retired         5
19      services         7